#pragma once
#include "AceMacros.h"

namespace {{Namespace}} {

class ACE_CLASS() {{ClassName}} : public GameModeBase
{
public:
    GENERATED_BODY()

    {{ClassName}}();
    virtual ~{{ClassName}}() = default;

    // TODO: overrides
};

} // namespace {{Namespace}}
