#include "{{ClassName}}.h"
#include {{GeneratedInclude}} // expands to "<{{ClassName}}.generated.h>"

namespace {{Namespace}} {

{{ClassName}}::{{ClassName}}() { /* TODO */ }

} // namespace {{Namespace}}
